/* .container {
    margin-top: 2cm;
}
button {
    border-radius: 10%;
}
#create {
    margin: 0.3cm;
    margin-left: 3cm;
}
#view {
    margin: 0.3cm;
}
img {
    float: left;
<<<<<<< HEAD
} */
=======
}
.navbar {
    height: 3cm;
    background-color: #00BFFF;
}
>>>>>>> 9fe72bf60e37dd8917699b0edd4efb550fcb04c7
