/* .container {
    margin-top: 2cm;
}
button {
    border-radius: 10%;
}
#create {
    margin: 0.3cm;
    margin-left: 3cm;
}
#view {
    margin: 0.3cm;
}
img {
    float: left;
} */
.navbar {
    height: 3cm;
    background-color: #00BFFF;
}
