<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: antiquewhite; font-size: 30px;" href="dashboard">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: antiquewhite; font-size: 30px;" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: antiquewhite; margin-left: 32cm; font-size: 30px;" href="#">Log Out</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div id="container" class="main">
            <div class="row">
                <div class="col-6">
                    <div class="left">
                        <img src="https://mpng.subpng.com/20180717/cz/kisspng-avatar-youtube-person-kahoot-a-roommate-who-plays-with-a-cell-phone-5b4d74010dd214.7783760115318026250566.jpg" alt="profile image">
                        <div class="details">
                            <h2 style="text-align: center; color: rgb(235, 148, 49);">Details</h2>
                            <h3>Merchandiser Name: </h3>
                            <h3>Merchandiser Email: </h3>
                            <h3>Merchandiser Contact: </h3>
                        </div>
                    </div>
                </div>
                <div class="col-6" id="routes" style="height: 14cm;">
                    <div class="right">
                        <h2 style="color: rgb(235, 148, 49);" >My Routes</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
