<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id="container" class="main">
            <div class="row">
                <div class="col-6">
                    <div class="left">
                        <img src="https://mpng.subpng.com/20180717/cz/kisspng-avatar-youtube-person-kahoot-a-roommate-who-plays-with-a-cell-phone-5b4d74010dd214.7783760115318026250566.jpg" alt="profile image">
                        <div class="details">
                            <h2>Details</h2>
                            <h3>Merchandiser Name:</h3>
                            <h3>Merchandiser Email:</h3>
                            <h3>Merchandiser Contact:</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6" id="routes">
                    <div class="right">
                        <h2>My Routes</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
