<style>
    a {
      text-decoration: none;
    }
  
  </style>
  <div class="container mt-5" style="font-family: 'Yeon Sung',cursive;">
    <div class="col-md-6 mx-auto" style="margin-top:10%; ">
  
      <form class="text-center border border-light p-5" name="form"
      >
  
        <p class="h4 mb-4">Sign In</p>
  
        <div class="form-group">
          <input type="text" class="form-control mb-4" name="username" placeholder="Username" 
            >
        
        </div>
        <div class="form-group">
          <input type="password" class="form-control" class="form-control mb-4" placeholder="Password" name="password"
             required minlength="6"  />
         
        </div>
        <div class="form-group">
          <a>
            <button class="btn btn-info btn-block my-4" href="dashboard"  type="submit">Sign in</button>
          </a>
        </div>
       
        <p>Not a member?
          <a routerLink="/register">Signup
          </a>
        </p>
      </form>
      
  
    </div>
  
  </div>
  